<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.persistence.mapper.CustomerMapper">

    <select id="getById"
            parameterType="map"
            resultType="com.spring.persistence.domain.CustomerProfile">

        select
        customer_profile_id as id,
        email as email

        from customer_profile
        where customer_profile_id = #{abc}



    </select>


    <select id="search"
            parameterType="map"
            resultType="com.spring.persistence.domain.CustomerProfile">

        select
        customer_profile_id as id,
        email as email

        from customer_profile

        where 1 = 1

        <choose>
            <when test="{searchCriteria.getFirstName() !=null } and  {searchCriteria.getLastName() !=null }">
                <if test="{searchCriteria.getFirstName() !=null }">

                    AND
                    first_name = #{searchCriteria.firstName}


                </if>

                <if test="{searchCriteria.getLastName() !=null }">
                    AND
                    last_name = #{searchCriteria.lastName}

                </if>

            </when>
            <otherwise>
                <if test="{searchCriteria.getEmail() !=null}">
                    AND
                    email = #{searchCriteria.email}
                </if>
            </otherwise>

        </choose>


    </select>


    <insert id="createProfile"
            keyColumn="customer_profile_id"
            parameterType="map"

            keyProperty="id">

        <selectKey keyProperty="customerProfile.id" resultType="long" order="BEFORE">
            select nextval('customer_profile_seq')
        </selectKey>

        insert into customer_profile
        (customer_profile_id, email, first_name, last_name, street, city)
        values (
        #{customerProfile.id},
        #{customerProfile.email},
        #{customerProfile.firstName},
        #{customerProfile.lastName},
        #{customerProfile.street},
        #{customerProfile.city}
        )

    </insert>


</mapper>